*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    background-color: blue;
    color: black;
    border: none;
}
.container{
    height: 200px;
    width: 100%;
    background-color: white;
}
.btn-top{
    height: 80px;
    width: 50%;
    float: left;
    padding: 20px 20px 15px 25px;
    background-color: blue;
}
.btn-top button{
    font-size: larger;
    width: 104px;
    height: 30px;
    float: left;
}
.btn-bottom{
    width: 100%;
    height: 50%;
    float: left;
    background-color: darkcyan;
}
.logo{
    height: 80px;
    width: 110px;
    float: left;
}
.search{
    height: 80px;
    width: 73%;
    float: left;
}
.mrgn{
    margin-left: 24px;
}
.search-box{
    height: 55px;
    width: 100%;
    background-color: darkcyan;
}
.search-box input{
    border-radius: 8px;
    width: 90%;
    height: 30px;
    margin: 10px 10px 14px 10px;
    padding: 7px 5px 5px 5px;
}
.search-box button{
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
    color: white;

}
.item button{
    float: left;
    height: 20px;
    width: 70px;
    border-radius: 0;
}
.emoji img{
    height: 80px;
    width: 100px;
    border: 3px solid black;
    border-radius: 0 5px 0 15px;
}
.add-to-cart button{
    background-color: darkcyan;
}

