*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(red, rgb(232, 101, 20));
    display: inline-block;
}
ul,li{
    list-style: none;
    color: white;
    font-size: 12px;
    display: inline;
    margin: 5px;
    padding-right: 5px;
    border-right: 1px solid white;
}
.logo{
    width: 20%;
    height: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: fuchsia;
    display: flex;
    
}
.search-box{
    background-color: beige;
    width: 50%;
    height: 10%;
}
.search-box ul,li{
    margin-right: 50px;
}
.input input{
    border: none;
    width: 90%;
}
.input button{
    border: none;
}
.inline-block{
    display: inline-block;
}